#define SSID "xxxx"
#define PASS "xxx"

#define PRIVATE_KEY "xxx/DuGk="
#define PEER_PUBLIC_KEY "xxx="
#define ENDPOINT_ADDRESS "10.0.0.10"
#define ENDPOINT_PORT 51820
#define LOCAL_IP "10.10.10.111"
#define PEER_IP "10.10.10.110" // 这里写公网 ip 无法 ping 通，取消wireguard就可以，需要注意

#define NTP_SERVER "ntp7.aliyun.com"

#define DATAPIN 4 // DATA Pin 注意，0和2是都碰到了兼容性问题
#define DHTTYPE DHT22 // SENSOR DHT11/DHT22

#define EXPORTER_PORT 8663
